<div class="container-fluid view" style="background-image: url('../../../assets/images/ashim-d-silva-89336-unsplash.jpg');
background-size: cover; height: 100vh">
  <div class="mask rgba-blue-light">
    <h1 class="h1-responsive font-weight-bold text-center">Dress-Up Administrator</h1>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <p style="font-size: xx-large" class="m-0 text-center  white-text font-weight-bold font-italic p-3">Welcome to the dress up admin portal, this enables admin
          to control and track current process and progress of transactions in the Dress Up environment </p>
      </div>
      <div class="col-md-6 px-5 col-sm-12">
        <div class="card card-body shadow-lg">
          <h3 class="text-center text-uppercase">Log In</h3>
          <div class="border p-3">
            <label for="email" class="active">Email</label>
            <input class="form-control mb-3" id="email" type="email">
            <label for="password" class="active">Password</label>
            <input class="form-control mb-3" id="password" type="password">
            <div class="flex-center my-3">
              <button class="btn btn-li btn-lg btn-outline-light-blue">Login</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
