<!-- Posts view -->

<div style="max-height:90vh; overflow-y: auto " class="mb-5 container-fluid">
    <div *ngIf="Posts.length > 0" class="row">
      <div *ngFor="let post of Posts" class="col-md-3 mb-3">
        <div class="card view view-cascade overlay rgba-stylish-strong">
          <img [src]="post.Picture[0]" class="img-fluid h-100">
          <div class="mask flex-center rgba-stylish-slight">
            <a *ngIf="User.Role === 'User'" routerLink="/user/view/order/{{post._id}}" class="font-weight-bold text-white">View</a>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="Posts.length <= 0" class="row">
      <div class="col-md-12 flex-center">
        <h1 class="text-muted font-weight-bold">No posts yet...</h1>
      </div>
    </div>
  </div>
