<div class="container py-4">
  <div class="row px-2 py-2">
    <div *ngFor="let order of Orders" class="col-md-4 col-sm-12 my-2 outer-div">
      <div class="inner-div flex-center card p-bg" [ngStyle]="{'background-image': innerDivStyles(order.Order.Request.Picture[0])}">
        <div class="text-center content">
          <h1>{{order.Order.Request.Title}}</h1>
          <h3>by: {{order.Order.Tailor.Brand.BrandName}}</h3>
          <h5>{{daysleft(order.CreatedAt,order.Order.Schedule.Duration)}} days to completion</h5>
          <a routerLink='room/{{order._id}}' class="nav-link">view</a>
        </div>
        <div class="peramble">
          <h1 style="margin: 0;font-weight: bolder;color: white;letter-spacing: .5mm;">{{order.Order.Request.Title}}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- -->
