<div id="main" class="container-fluid belleza">
    <div class="row">
      <div class="px-5 py-4 col-lg-8 offset-lg-3 col-md-8 offset-md-3 col-sm-12">
        <div style="background-color: #b0e6b294" class="px-2 mx-5 my-3 pt-2 card">
          <div style="font-size: larger" class="d-flex justify-content-start">
            <i class="fas fa-info-circle px-5"style="font-size: 3rem;"></i>
            <div class="flex-grow-1" style="align-self:center">
              <div class="d-flex mb-0 justify-content-between">
                <div class="w-100 text-center">
                  <p class="mb-0">somebody did this to you</p>
                </div>
                <div>
                  <ul class="list-unstyled mb-0 list-inline">
                    <li>
                      <div class="text-center flex-center pt-1">
                        <a class="card-link text-primary">mark as read</a>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            </div>
          </div>
      </div>
    </div>
  </div>

