<div id="main"  class="container-fluid">
  <div  class="row">
    <div class="px-2 py-4  col-lg-8 offset-lg-3 col-md-8 offset-md-2 col-sm-12">
      <div style="background-color: #b0e6b294" class="px-2 my-3 pt-2   shadow-sm">
        <div class="d-flex justify-content-between">
          <div class="d-flex mb-0 justify-content-start">
            <i>B</i>
            <div>
              <p class="ml-3 mb-0">somebody did this to you</p>

            </div>
          </div>
          <div>
            <ul class="list-unstyled mb-0 list-inline">
              <!-- <li class="border-top rounded">
                          <div class="text-center px-5 pt-1 shadow-sm"> <a class="card-link">Read</a></div>
                      </li> -->
              <li class="border-top rounded">
                <div class="text-center px-5 pt-1 shadow-sm"><a class="card-link">View</a></div>
              </li>
            </ul>
          </div>
        </div>
        <div>
          <p class="ml-4 font-italic mb-0">x days ago</p>
        </div>
      </div>
      <div style="background-color: #b0e6b294" class="px-2 my-3 pt-2   shadow-sm">
        <div class="d-flex justify-content-between">
          <div class="d-flex mb-0 justify-content-start">
            <i>B</i>
            <div>
              <p class="ml-3 mb-0">somebody did this to you</p>

            </div>
          </div>
          <div>
            <ul class="list-unstyled mb-0 list-inline">
              <!-- <li class="border-top rounded">
                              <div class="text-center px-5 pt-1 shadow-sm"> <a class="card-link">Read</a></div>
                          </li> -->
              <li class="border-top rounded">
                <div class="text-center px-5 pt-1 shadow-sm"><a class="card-link">View</a></div>
              </li>
            </ul>
          </div>
        </div>
        <div>
          <p class="ml-4 font-italic mb-0">x days ago</p>
        </div>
      </div>
      <div style="background-color: #b0e6b294" class="px-2 my-3 pt-2   shadow-sm">
        <div class="d-flex justify-content-between">
          <div class="d-flex mb-0 justify-content-start">
            <i>B</i>
            <div>
              <p class="ml-3 mb-0">somebody did this to you</p>

            </div>
          </div>
          <div>
            <ul class="list-unstyled mb-0 list-inline">
              <!-- <li class="border-top rounded">
                                  <div class="text-center px-5 pt-1 shadow-sm"> <a class="card-link">Read</a></div>
                              </li> -->
              <li class="border-top rounded">
                <div class="text-center px-5 pt-1 shadow-sm"><a class="card-link">View</a></div>
              </li>
            </ul>
          </div>
        </div>
        <div>
          <p class="ml-4 font-italic mb-0">x days ago</p>
        </div>
      </div>
      <div style="background-color: #b0e6b294" class="px-2 my-3 pt-2   shadow-sm">
        <div class="d-flex justify-content-between">
          <div class="d-flex mb-0 justify-content-start">
            <i>B</i>
            <div>
              <p class="ml-3 mb-0">somebody did this to you</p>

            </div>
          </div>
          <div>
            <ul class="list-unstyled mb-0 list-inline">
              <!-- <li class="border-top rounded">
                                  <div class="text-center px-5 pt-1 shadow-sm"> <a class="card-link">Read</a></div>
                              </li> -->
              <li class="border-top rounded">
                <div class="text-center px-5 pt-1 shadow-sm"><a class="card-link">View</a></div>
              </li>
            </ul>
          </div>
        </div>
        <div>
          <p class="ml-4 font-italic mb-0">x days ago</p>
        </div>
      </div>
      <div style="background-color: #b0e6b294" class="px-2 my-3 pt-2   shadow-sm">
        <div class="d-flex justify-content-between">
          <div class="d-flex mb-0 justify-content-start">
            <i>B</i>
            <div>
              <p class="ml-3 mb-0">somebody did this to you</p>

            </div>
          </div>
          <div>
            <ul class="list-unstyled mb-0 list-inline">
              <!-- <li class="border-top rounded">
                          <div class="text-center px-5 pt-1 shadow-sm"> <a class="card-link">Read</a></div>
                      </li> -->
              <li class="border-top rounded">
                <div class="text-center px-5 pt-1 shadow-sm"><a class="card-link">View</a></div>
              </li>
            </ul>
          </div>
        </div>
        <div>
          <p class="ml-4 font-italic mb-0">x days ago</p>
        </div>
      </div>
      <div style="background-color: #b0e6b294" class="px-2 my-3 pt-2   shadow-sm">
        <div class="d-flex justify-content-between">
          <div class="d-flex mb-0 justify-content-start">
            <i>B</i>
            <div>
              <p class="ml-3 mb-0">somebody did this to you</p>

            </div>
          </div>
          <div>
            <ul class="list-unstyled mb-0 list-inline">
              <!-- <li class="border-top rounded">
                              <div class="text-center px-5 pt-1 shadow-sm"> <a class="card-link">Read</a></div>
                          </li> -->
              <li class="border-top rounded">
                <div class="text-center px-5 pt-1 shadow-sm"><a class="card-link">View</a></div>
              </li>
            </ul>
          </div>
        </div>
        <div>
          <p class="ml-4 font-italic mb-0">x days ago</p>
        </div>
      </div>
      <div style="background-color: #b0e6b294" class="px-2 my-3 pt-2   shadow-sm">
        <div class="d-flex justify-content-between">
          <div class="d-flex mb-0 justify-content-start">
            <i>B</i>
            <div>
              <p class="ml-3 mb-0">somebody did this to you</p>

            </div>
          </div>
          <div>
            <ul class="list-unstyled mb-0 list-inline">
              <!-- <li class="border-top rounded">
                                  <div class="text-center px-5 pt-1 shadow-sm"> <a class="card-link">Read</a></div>
                              </li> -->
              <li class="border-top rounded">
                <div class="text-center px-5 pt-1 shadow-sm"><a class="card-link">View</a></div>
              </li>
            </ul>
          </div>
        </div>
        <div>
          <p class="ml-4 font-italic mb-0">x days ago</p>
        </div>
      </div>
      <div style="background-color: #b0e6b294" class="px-2 my-3 pt-2   shadow-sm">
        <div class="d-flex justify-content-between">
          <div class="d-flex mb-0 justify-content-start">
            <i>B</i>
            <div>
              <p class="ml-3 mb-0">somebody did this to you</p>

            </div>
          </div>
          <div>
            <ul class="list-unstyled mb-0 list-inline">
              <!-- <li class="border-top rounded">
                                  <div class="text-center px-5 pt-1 shadow-sm"> <a class="card-link">Read</a></div>
                              </li> -->
              <li class="border-top rounded">
                <div class="text-center px-5 pt-1 shadow-sm"><a class="card-link">View</a></div>
              </li>
            </ul>
          </div>
        </div>
        <div>
          <p class="ml-4 font-italic mb-0">x days ago</p>
        </div>
      </div>

    </div>

  </div>
</div>

