<div id="main" class="container-fluid belleza">
    <div class="row">
      <div class="px-5 py-4 col-lg-9 row offset-lg-3 col-md-8 d-flex justify-content-start offset-md-3 col-sm-12">
        <div class="card col-md-7 col-sm-12 mx-5 mb-4">
          <div>
            <p>
              Welcome to DressUp
            </p>
          </div>
          <div class="d-flex justify-content-between text-primary">
            <span class="nav-link font-italic">{{getDate()}}</span>
            <h6 class="m-0"><a class="nav-link">Seen</a></h6>
          </div>
        </div> 
         
    </div>
  </div>
  </div>

