.pic-view{
   
                        background-color: white;
                        height: fit-content;
                       overflow: auto
}
.detail-view{
    box-shadow: 0 9px 5px 0 rgba(0,0,0,.16), 0 9px 10px 0 rgba(0,0,0,.12); height: auto;z-index: 1000;position: absolute;top: 10px;transition: all 2s ease-in
}
.font-70{
    font-size: 70%;
}
.schedule{
    max-height: 20px;
    overflow: hidden;
    min-width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
}
.from{
    max-width: 500px;background-color: rgba(0, 184, 255, 0.13);border-radius: 40px;
}
.to{
    max-width: 500px;background-color: rgba(0, 184, 255, 0.27);border-radius: 40px;
}
.date{
    margin: 0;float: right; font-size: small;word-spacing: 0.01mm
}
.hide{
    display: none !important;
}