
<!-- Tailor Profile page -->

<!-- Main Container -->

<div class={{_settingsService.Theme(ProfileTheme)}}>
<!-- Header container START -->

<div class="p-0 main-header" [ngStyle]="{'background-image': headerStyles}" >
  <!-- Tailor Profile Image and Name row START-->
    <!-- <div class="view">
      <img src="../../assets/images/header-bg-2.jpeg" class="h-100 w-100" alt="header-background"> -->

      <!-- Mask START -->

      <!-- <div class="mask rgba-black-strong"> -->

        <!-- Mask content START -->
        <div class=" pt-3 flex-md-row flex-column col-md-12 d-flex justify-content-md-between justify-content-sm-start ">
        
              <!-- Tailor profile photo and name -->
          <div class="flex d-flex flex-md-row flex-sm-column justify-content-md-between w-md-25">
            <!-- Tailor DP -->
            <img src="assets/images/person-flat.png" class="rounded-circle img-fluid card" style="width: 170px;height: 170px;">
            <div class="align-self-center py-3">
              <div class="d-flex  justify-content-start">
                <!-- Tailor Name -->
                  <h3 *ngIf="Details.Brand" class="font-bold mb-3 px-3 text-shadow white-text text-left">{{Details.Brand.BrandName||'Tailor'}}</h3>
                  <!-- Edit Profile button -->
                  <a *ngIf = "User.Role === 'Designer'"class="btn btn-floating btn-action waves-effect mt-0 mb-3 p-0 bg-transparent" (click)="goToSettings()"><i class="fas fa-2x fa-pen-fancy red-text"></i> </a>
                  <a *ngIf = "User.Role === 'User'" (click) ="follow()" [class.bg-info]="isFollowing" [class.bg-transparent]="!isFollowing" class="btn btn-floating btn-action waves-effect mt-0 mb-3 p-0" ><i class="fas fa-2x fa-user-plus green-text"></i> </a>

              </div>
              <!-- Average Rating START-->
                <h2 class="px-3 star-on">
                    <!-- Stars ON -->
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>

                  <span class="star-off">
                  <!-- Stars OFF -->
                    <i class="fa fa-star"></i>
                    </span>
                </h2>

                  <!-- Average Rating END -->
            </div>
          </div>
              <!-- Tailor contact details etc -->
      <div class="">
            <ul class=" py-0 d-flex flex-column list-group-flush text-white">
              <li class="list-group-item py-1">
                <i class="fa fa-address-card"></i><a *ngIf="Details.Brand" href="" class="pl-1 green-text text-shadow">{{Details.Brand.WorkAddress||'address'}}</a>
              </li>
              <li class="list-group-item py-1">
                <i class="fa fa-at"></i><a *ngIf="Details.Account" href="" class="pl-1 orange-text text-shadow">{{Details.Account.Email||'none'}}</a>
              </li>
              <li class="list-group-item py-1">
               <i class="fa fa-phone"></i> <a href="" class="pl-1 amber-text text-shadow">+234 80 123 456 78</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- Tailor Profile Image and Name row END -->
    
        <!-- Tailor Bio row START-->
        <div class="row">
            <div class="col-md-12 text-shadow py-2 my-2 text-center white-text">
              <h4 class="mb-4 font-weight-bold">Bio: 
              </h4>
              <p *ngIf="Details.Brand" class="px-6 font-weight-bold">
                  {{Details.Brand.BrandDescription||"This is a dummy description go to settings and change it"}}
              </p>
            </div>
          </div>
          <!-- Tailor Bio row END -->
        
            <!-- Tailor remarks row START-->
            
            <div class="row">
        
              <div class="col-md-12 py-2 my-2 d-flex justify-content-center">
        
                <!-- Tailor Remarks & Ratings -->
        
                <div class="list-group d-flex justify-content-md-between flex-md-row flex-sm-column justify-content-sm-between">
                  
                  <div class="card list-group-item mx-md-4 my-sm-2">
                    <p class="text-center d-inline">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat
                  fugiat.</p>
                  <footer class="blockquote-footer">Kunle Lawal<cite title="Remark from">Tue, 6<sup>th</sup></cite></footer>
                      <p class="">*&nbsp;*&nbsp;*&nbsp;*&nbsp;*&nbsp;</p>
                  </div> 
                  
                  <div class="card list-group-item mx-md-4 my-sm-2">
                      <p class=" text-center d-inline">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat
                      fugiat.</p>
                      <footer class="blockquote-footer">Amanda Davies <cite title="Remark from">Wed, 17<sup>th</sup></cite></footer>
                          <p>*&nbsp;*&nbsp;*&nbsp;*&nbsp;*&nbsp;</p>
                  </div>
                  
                  <div class="card list-group-item mx-md-4 my-sm-2">
                      <p class=" text-center d-inline">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat
                      fugiat.</p>
                      <footer class="blockquote-footer">Amanda Davies <cite title="Remark from">Sat, 3<sup>rd</sup></cite></footer>
                          <p>*&nbsp;*&nbsp;*&nbsp;*&nbsp;*&nbsp;</p>
                  </div>
        
                </div>
                <!-- Tailor Remarks and Ratings END -->
              </div>
        
              <!-- Tailor Badges START -->
        
              <div class="col-md-12 d-flex justify-content-sm-center justify-content-md-end">
        
                <div *ngFor="let tag of ProfileTags" class="chip darken-4">
                  <a>{{tag}}</a>
                </div>
              </div>
        
            </div>
              <!-- Tailor remarks row END -->
      <!-- </div> -->

       
    <!-- </div> -->
      
    <!-- Header Container END -->

</div>

<!-- Grid container START -->

<div class="px-2 py-2" id="grid-container">

  <!-- Nav START -->

  <nav class="nav nav-tabs flex-row d-flex mb-3">
    <li class="nav-item flex-fill text-center waves-effect active">
      <a class="nav-link p-dark-text"><i class="fa fa-2x fa-th-large"></i></a>
    </li>

    <li class="nav-item flex-fill text-center waves-effect">
      <a class="nav-link p-dark-text" (click)="goToAddPost()"><i class="fa fa-2x fa-plus"></i></a>
    </li>
  <!-- Nav END -->
  </nav>
  <!-- Grid START -->
<router-outlet></router-outlet>
  <!-- Grid END -->

</div>
</div>
