<div class="px-3 pt-0 container-fluid">
  <!-- Collapse buttons -->
  <div>
    <button class="btn mx-0 p-bg  px-1 btn-lg text-left col-12" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      account
    </button>
  </div>
  <!-- / Collapse buttons -->

  <!-- Collapsible element -->
  <div class="collapse" id="collapseExample">
    <div class="mt-3">
      <form class="offset-md-3 col-md-6 col-sm-12 form">
        <p>Email: weedandcoke@weed.com <span><a class="blue-text" (click)="changeemail()"> change</a></span></p>
        <div *ngIf="email">
          <input type="email" placeholder="enter new email.." class="form-control">
        </div>
        <p class="mb-2 mt-3"> <a class="blue-text" (click)="changepassword()">Change Password</a></p>
        <div *ngIf="password">
          <input type="password" placeholder="enter current password" class="form-control mb-2">
          <input type="password" placeholder="enter new password" class="form-control">
        </div>
        <div  class="row mt-3 d-flex justify-content-between">
          <button class="waves-effect col-md-4 col-sm-6 btn btn-sm s-bg lato ">Discard changes</button>
          <button class="waves-effect  col-md-4 col-sm-6 btn btn-sm s-bg lato ">Accept changes</button>
        </div>
      </form>
    </div>
  </div>
  <!-- / Collapsible element -->
  <div class="p-bg mt-4">
    <a class="btn mx-0 p-bg btn-lg  px-1 m-0 text-left col-12"  data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
      Contact
    </a>
  </div>
  <!-- Collapsible element -->
  <div class="collapse" id="collapseExample1">
    <div class=" mt-3">
      <p style="font-size: small" class="alert alert-info">Please enter your current address details as this helps us to locate you better</p>
      <form class="col-md-6 offset-md-3 col-sm-12 form">
        <input type="text" placeholder="City..." class="form-control mb-2">
        <input type="text" placeholder="State..." class="form-control mb-2">
        <input type="text" placeholder="Phone Number..." class="form-control mb-2">
        <input type="text" placeholder="Home address..." class="form-control mb-2">
        <input type="text" placeholder="Post address..." class="form-control"> <span style="font-size: x-small" class="font-weight-light text-warning font-italic">*this is where you would like us to send your ordered goods</span>
        <div  class="row mt-3 d-flex justify-content-between">
          <button class="waves-effect col-md-4 col-sm-6 btn btn-sm s-bg lato ">Discard changes</button>
          <button class="waves-effect  col-md-4 col-sm-6 btn btn-sm s-bg lato ">Accept changes</button>
        </div>
      </form>
    </div>
  </div>
  <!-- / Collapsible element -->
  <div class="p-bg mt-4">
    <a class="btn mx-0 p-bg btn-lg  px-1 m-0 text-left col-12"  data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
      Names
    </a>
  </div>
  <!-- Collapsible element -->
  <div class="collapse" id="collapseExample2">
    <div class=" mt-3">
      <form class="col-md-6 offset-md-3 col-sm-12 form">
        <input type="text" placeholder="First name..." class="form-control mb-2">
        <input type="text" placeholder="Middle name..." class="form-control mb-2">
        <input type="text" placeholder="Last Name..." class="form-control">
        <div  class="row mt-3 d-flex justify-content-between">
          <button class="waves-effect col-md-4 col-sm-6 btn btn-sm s-bg lato ">Discard changes</button>
          <button class="waves-effect  col-md-4 col-sm-6 btn btn-sm s-bg lato ">Accept changes</button>
        </div>
      </form>
    </div>
  </div>
  <!-- / Collapsible element -->
  <div class="p-bg mt-4">
    <a class="btn mx-0 p-bg btn-lg  px-1 m-0 text-left col-12"  data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
      Brand
    </a>
  </div>
  <!-- Collapsible element -->
  <div class="collapse" id="collapseExample3">
    <div class=" mt-3">
      <form class="col-md-6 offset-md-3 col-sm-12 form">
        <textarea cols="5" rows="2" style="resize: vertical" type="text" placeholder="Bio.." class="form-control mb-2"></textarea>
        <input type="text" placeholder="Work address..." class="form-control mb-2"> <span class="text-warning" style="font-size: x-small">Please a valid address of your work place is required for verification</span>
        <div  class="row mt-3 d-flex justify-content-between">
          <button class="waves-effect col-md-4 col-sm-6 btn btn-sm s-bg lato ">Discard changes</button>
          <button class="waves-effect  col-md-4 col-sm-6 btn btn-sm s-bg lato ">Accept changes</button>
        </div>
      </form>
    </div>
  </div>
  <!-- / Collapsible element -->
</div>
