<div class="container">
  <div class="d-flex flex-column justify-content-around text-left" [formGroup] = "settingsForm" >
    <!-- Collapse buttons -->
    <button class="btn btn-lg" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Account
    </button>

    <!-- Collapsible element -->
    <div class="collapse mb-4 mt-4" id="collapseExample">
      <div class="view">
        <div class="mt-3">
          <form formGroupName="Account" class="offset-md-3 col-md-6 col-sm-12 form">
            <input formControlName="CurrentEmail" type="hidden"  name="CurrentEmail">
            <div>
              <label for="email-input">E-mail</label>
              <input type="email" id="email-input" value="{{UserEmail}}" name="Email" formControlName="Email" placeholder="enter new email.." class="form-control">
            </div>
            <p class="mb-2 mt-3"> <a class="blue-text" (click)="changepassword()">Change Password</a></p>
            <div *ngIf="password">
              <input type="password" name="CurrentPassword" formControlName="CurrentPassword" placeholder="enter current password" class="form-control mb-2">
              <input type="password"  name="Password" formControlName="Password" placeholder="enter new password" class="form-control">
            </div>
            <div  class="row mt-3 d-flex justify-content-between">
              <button class="waves-effect col-md-4 col-sm-6 btn btn-sm s-bg lato" [class.disabled]="email && password" (click)="discardAccountUpdateclick()">Discard changes</button>
              <button class="waves-effect  col-md-4 col-sm-6 btn btn-sm s-bg lato" [class.disabled]="email && password" (click)="updateAccountClick()">Accept changes</button>
            </div>
          </form>
      </div>
        <div *ngIf="accountformbool" id="account-loader" class="mask flex-center">
          <!--Big circle-->
          <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- / Collapsible element -->

    <button class="btn btn-lg"    data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
      Contact
    </button>
    <!-- Collapsible element -->
    <div class="collapse mb-4 mt-4" id="collapseExample1">
      <div class="view">
        <div class=" mt-3">
          <p style="font-size: small" class="alert alert-info">Please enter your current address details as this helps us to locate you better</p>
          <form formGroupName="Contact" class="col-md-6 offset-md-3 col-sm-12 form">
            <label for="city-input">City</label>
            <input id="city-input" type="text" name="City" value="{{User.Contact.City}}" formControlName="City" placeholder="City..." class="form-control mb-2">
            <label for="state-input">State</label>
            <input id="state-input" type="text" name="State" value="{{User.Contact.State}}" formControlName="State" placeholder="State..." class="form-control mb-2">
            <label for="phone-input">Phone Number</label>
            <input id="phone-input" type="text" name="PhoneNumber" value="{{User.Contact.PhoneNumber}}" formControlName="PhoneNumber" placeholder="Phone Number..." class="form-control mb-2">
            <label for="homeaddress-input">Home Address</label>
            <input id="homeaddress-input" type="text" name="HomeAddress" value="{{User.Contact.HomeAddress}}" formControlName="HomeAddress" placeholder="Home address..." class="form-control mb-2">
            <label for="postaddress-input">Post Address</label>
            <input id="postaddress-input" type="text" name="PostAddress" value="{{User.Contact.PostAddress}}" formControlName="PostAddress" placeholder="Post address..." class="form-control"> <span style="font-size: x-small" class="font-weight-light text-warning font-italic">*this is where you would like us to send your ordered goods</span>
            <div  class="row mt-3 d-flex justify-content-between">
              <button class="waves-effect col-md-4 col-sm-6 btn btn-sm s-bg lato" (click)= "discardContactUpdateClick()">Discard changes</button>
              <button class="waves-effect  col-md-4 col-sm-6 btn btn-sm s-bg lato " (click)= "updateContactClick()">Accept changes</button>
            </div>
          </form>
        </div>
        <div *ngIf="contactformbool" id="contact-loader" class="mask flex-center">
          <!--Big circle-->
          <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- / Collapsible element -->
    <button class="btn btn-lg"  data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
      Names
    </button>
    <!-- Collapsible element -->
    <div class="collapse mb-4 mt-4" id="collapseExample2">
      <div class="view">
        <div class=" mt-3">
          <form formGroupName="Name" class="col-md-6 offset-md-3 col-sm-12 form">
            <label for="firstname">First Name</label>
            <input id="firstname" value="{{User.Name.FirstName}}" type="text" name="FirstName" formControlName="FirstName" placeholder="First name..." class="form-control mb-2">
            <label for="middlename">Middle Name</label>
            <input id="middlename" value="{{User.Name.MiddleName}}" type="text" name="MiddleName" formControlName="MiddleName" placeholder="Middle name..." class="form-control mb-2">
            <label for="lastname">Last Name</label>
            <input id="lastname" value="{{User.Name.LastName}}" type="text" name="LastName" formControlName="LastName" placeholder="Last Name..." class="form-control">
            <div  class="row mt-3 d-flex justify-content-between">
              <button class="waves-effect col-md-4 col-sm-6 btn btn-sm s-bg lato " (click)="discardNameUpdateClick()">Discard changes</button>
              <button class="waves-effect  col-md-4 col-sm-6 btn btn-sm s-bg lato " (click) = "updateNameClick()" >Accept changes</button>
            </div>
          </form>
        </div>
        <div *ngIf="nameformbool" id="name-loader" class="mask flex-center">
          <!--Big circle-->
          <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- / Collapsible element -->
      <button *ngIf="userRole=='Designer'" class="btn btn-lg"  data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
        Brand
      </button>
      <!-- Collapsible element -->
      <div class="collapse mb-4 mt-4" id="collapseExample3">
        <div class="view">
          <div class=" mt-3">
            <form formGroupName="Brand" class="col-md-6 offset-md-3 col-sm-12 form">
              <label for="branddescription">Brand Bio</label>
              <textarea id="branddescription" name="BrandDescription" formControlName="BrandDescription" cols="5" rows="2" style="resize: vertical" type="text" placeholder="Bio.." class="form-control mb-2">{{UserBrand.BrandDescription||''}}</textarea>
              <label for="workaddress">Brand Address</label>
              <input id="workaddress" value="{{UserBrand.WorkAddress||''}}" name="WorkAddress" formControlName="WorkAddress" type="text" placeholder="Work address..." class="form-control mb-2"> <span class="text-warning" style="font-size: x-small">Please a valid address of your work place is required for verification</span>
              <div  class="row mt-3 d-flex justify-content-between">
                <button class="waves-effect col-md-4 col-sm-6 btn btn-sm s-bg lato " (click)="discardBrandUpdateClick()">Discard changes</button>
                <button class="waves-effect  col-md-4 col-sm-6 btn btn-sm s-bg lato " (click) = "updateBrandClick()" >Accept changes</button>
              </div>
            </form>
          </div>
          <div *ngIf="brandformbool" id="brand-loader" class="mask flex-center">
            <!--Big circle-->
            <div class="preloader-wrapper big active">
              <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- / Collapsible element -->
  </div>
</div>
