  
<header>
  <!-- Navigation bar -->
<nav class="navbar navbar-expand-lg mx-0 px-0 navbar-light  p-bg">
    <div class="container">
        <!-- Collabsiple button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsiblemenu" aria-controls="collapsiblemenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="p-text"><i class="fas fa-bars"></i></span>
          </button>
    
        <!-- Brand -->
        <a href="#" class="navbar-brand ml-sm-0  permanentmarker p-bg-text s-bg"><strong>Dress Up</strong></a>
    
        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="collapsiblemenu">
    
          <!-- Links -->
    
          <div class="navbar-nav nav mr-md-auto mr-sm-0">
            <a class="nav-item nav-link lato smooth-scroll active" href="#home">Home</a>
            <a class="nav-item nav-link lato smooth-scroll" href="#buy">Buy</a>
            <a class="nav-item nav-link lato smooth-scroll" href="#sell">Sell</a>
            <a class="nav-item nav-link lato smooth-scroll" href="#contact">Contact</a>
          </div>
          <div class="form-inline in ml-md-auto ml-sm-0">
            <div class="md-form my-0">
              <a routerLink="/register" class="btn btn-rounded btn-sm font-weight-bold signup waves-effect lato">Sign Up <i class="fas fa-user-plus"></i></a>
              <a routerLink="/login" class="btn btn-sm s-bg s-text waves-effect lato">Login <i class="fas fa-sign-in-alt"></i></a>
            </div>
          </div>
        </div>
        <div class="form-inline out ml-md-auto ml-sm-0 mr-sm-0">
            <div class="md-form my-0">
                <a  routerLink="/register" class="btn btn-flat btn-sm waves-effect lato">Sign Up <i class="fas fa-user-plus"></i></a>
                <a  routerLink="/login" class="btn btn-sm s-bg s-text waves-effect lato">Login <i class="fas fa-sign-in-alt"></i></a>
            </div>
          </div>
    </div>
</nav>
</header>
  <main class="m-0 p-0">
    <div id="home" class="parallax1  p-light p-text" >
      <div class="belleza "  style="min-height: 610px; clip-path: polygon(0 0, 100% 0, 100% 87%, 0 97%);">
        <!-- Carousel wrapper -->
          <div id="mycarousel" style="height: inherit;" class="carousel slide " data-ride="carousel">
          <!-- Indicators -->
          <!-- Indicators -->

          <!-- Slides -->
          <div class="carousel-inner" style="height: inherit;" role="listbox" >
            <!-- first slide -->
            <div class="carousel-item active" style="height: inherit;">
              <div class="view one carosel-padding" >
                <img class="img-fluid" src="assets/images/fancycrave-174012-unsplash.jpg" style="height: inherit;width: -webkit-fill-available;"/>
                <div class="flex-center  white-text mask rgba-stylish-light ">
                    <ul class="animated fadeInUp carosel-margin col-md-12 list-unstyled list-inline">
                        <li>
                            <h1 class="font-weight-bold belleza text-uppercase">Welcome to DressUP!</h1>
                          </li>
                          <li>
                              <p class="font-weight-bold text-uppercase py-2">Here we <strong style="font-size: large">want</strong> you to wear what you <strong style="font-size: larger">dream!</strong></p>
                          </li>
                          <li>
                              <p class="font-weight-bold text-uppercase py-2">Here we <strong style="font-size: large">give</strong> you <strong style="font-size: larger">freedom!</strong></p> 
                          </li>
                          <li class="list-inline-item">
                              <a href="#" class="btn btn-lg s-bg s-text waves-effect lato"><strong style="font-size: larger">Get Started!</strong></a>
                          </li>
                    </ul>
                </div>
              </div>
              
          </div>
            <!-- first slide -->

            <!-- second slide -->
            <div class="carousel-item">
                <div class="view one carosel-padding">
                  <img class="img-fluid" src="assets/images/ashim-d-silva-89336-unsplash.jpg" style="height: inherit;width: -webkit-fill-available;"/>
                  <div class="flex-center  white-text mask rgba-stylish-light ">
                      <ul class="animated fadeInUp carosel-margin col-md-12 list-unstyled list-inline">
                          <li>
                              <h1 class="font-weight-bold belleza text-uppercase">Let's make a dress for you!</h1>
                          </li>
                          <li>
                              <p class="font-weight-bold text-uppercase py-2">Select from a wide range of designers giving you the best of the season</p>
                          </li>
                          <li>
                              <p class="font-weight-bold text-uppercase py-2">Casual, Trad, Corporate...<strong style="font-size: larger">you Name it, we Have it</strong></p>
                          </li>
                          <li class="list-inline-item">
                              <a href="#" class="btn btn-lg s-bg s-text waves-effect lato"><strong style="font-size: larger">Discover</strong></a>
                          </li>
                        </ul>
                  </div>
                </div>
              </div>
            <!-- second slide -->

            <!-- third slide -->
            <div class="carousel-item">
                <div class="view one carosel-padding">
                  <img class="img-fluid" src="assets/images/clem-onojeghuo-197847-unsplash.jpg" style="height: inherit;width: -webkit-fill-available;"/>
                  <div class="flex-center white-text mask rgba-stylish-light  ">
                    <ul class="animated fadeInUp align-self-center carosel-margin col-md-12 list-unstyled list-inline">
                      <li>
                          <h1 class="font-weight-bold belleza text-uppercase">Your dress, Your way!</h1>
                      </li>
                      <li>
                          <p class="font-weight-bold text-uppercase py-2">With a wide range of tailors and designers ready to take on your custom orders</p>
                      </li>
                      <li>
                          <p class="font-weight-bold text-uppercase py-2">You are just in the right shop</p>
                      </li> 
                      <li class="list-inline-item">
                          <a href="#" class="btn btn-lg s-bg s-text waves-effect lato"><strong style="font-size: larger">Start Customizing</strong></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            <!-- third slide -->
          </div>
          <!-- Slides -->
          </div>
          <!-- Controls -->
      </div>
      <!-- Carousel wrapper --> 
      
      <div class="text-center shadow-lg py-0 my-0" style="height: fit-content; z-index: 5;">
            <h2 class="animated fadeIn te-xt font-italic belleza font-weight-bold"><q>Happiness is free, Creativity is Happiness, Style is Creativity</q></h2>    
            <h3 class="animated fadeIn te-xt font-italic belleza font-weight-bold"><q>Happiness, Creativity, Style, Fashion</q></h3>
            <h4 class="animated fadeIn te-xt font-italic belleza font-weight-bold"><q>Untamed Freedom</q></h4>
            <a href="#" class="animated fadeInUp btn btn-sm s-bg s-text waves-effect lato"><strong style="font-size: larger">Start Buying</strong></a>
            <a href="#" class="animated fadeInUp btn btn-sm s-bg s-text waves-effect lato"><strong style="font-size: larger">Start Selling</strong></a>
      </div>
      </div>
      <!-- parallax -->
      <div id="buy" class="parallax2 view " style=" min-height:500px;clip-path: polygon(0 2%, 100% 18%, 100% 100%, 0 100%);">
            <div class="flex-center mask rgba-stylish-strong">
                <ul class="carosel-margin col-md-12 list-unstyled list-inline p-light-text">
                    <li class="my-5">
                            <h1 class="text-uppercase belleza white-text">Shop on DressUp</h1>
                    </li>
                    <li class="list-inline-item mx-3">
                            <i class="far fa-edit fa-4x p-dark-text"></i> 
                            <p class="font-weight-bold">Customize</p>
                    </li>
                    <li class="list-inline-item mx-3">
                            <i class="fas fa-hand-pointer fa-4x p-dark-text"></i> 
                            <p class="font-weight-bold">Choose</p>
                    </li>
                    <li class="list-inline-item mx-3">
                            <i class="fas fa-clipboard-list fa-4x p-dark-text"></i> 
                            <p class="font-weight-bold">Schedule</p>
                    </li>
                    <li class="list-inline-item mx-3">
                            <i class="fas fa-lock fa-4x p-dark-text"></i> 
                            <p class="font-weight-bold">Secure</p>
                    </li>
                    <li class="list-inline-item mx-3">
                            <i class="fas fa-box fa-4x p-dark-text"></i> 
                            <p class="font-weight-bold">Delivery</p>
                    </li>
                    <li class="list-inline-item mx-3">
                            <i class="far fa-comments fa-4x p-dark-text"></i> 
                            <p class="font-weight-bold">Chat</p>
                    </li>
                    <li class="list-inline-item mx-3">
                            <i class="fas fa-headset fa-4x p-dark-text"></i> 
                            <p class="font-weight-bold">Support</p>
                    </li>
                </ul>
            </div>
        </div>
      
    <div class="belleza">
            <div class=" mt-0">
                    <div class="container">
                        <div class="shadow-big mt-4 bg-white">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h1 class="font-weight-bold quicksand text-uppercase pt-5">Anything you want!</h1>
                                    <p class="p-5" style="text-align: justify">Buying on DressUp is a unique experience, here we give you the <q>Freedom of orders</q> as we like to call it, where you order <strong class="text-uppercase">what</strong> <strong class="font-weight-bold"> you want </strong>, <strong class="text-uppercase">how</strong> <strong class="font-weight-bold"> you want it </strong> and <strong class="text-uppercase">how</strong> <strong class="font-weight-bold"> you want to get it. </strong>
                                    </p>
                                </div>
                            </div>
                            <div class="flex-center row">
                                    <ul class="carosel-margin list-unstyled list-inline">
                                        <li class="list-inline-item mr-3 col-md-3 mb-4 p-4 ">
                                                <i class="far fa-edit fa-4x p-dark-text"></i>
                                                <p class="text-uppercase font-weight-bold mt-2">Customize</p>
                                                <p class="mt-2">Customize your orders to really give out what you want, create unique orders and feel like your own fashion designer.
                                                    Step into the virtual dressing room and dress yourself up with your drawings, words, pictures and get your dream dress right at your door step
                                                </p>
                                        </li>
                                        <li class="list-inline-item mr-3 col-md-3 mb-4 p-4">
                                                <i class="fas fa-hand-pointer fa-4x p-dark-text"></i> 
                                                <p class="text-uppercase font-weight-bold mt-2">Choose</p>
                                                <p class="mt-2">Customize your orders to really give out what you want, create unique orders and feel like your own fashion designer.
                                                        Step into the virtual dressing room and dress yourself up with your drawings, words, pictures and get your dream dress right at your door step
                                                    </p>
                                        </li>
                                        <li class="list-inline-item mr-3 col-md-3 mb-4 p-4">
                                                <i class="fas fa-clipboard-list fa-4x p-dark-text"></i> 
                                                <p class="text-uppercase font-weight-bold mt-2">Schedule</p>
                                                <p class="mt-2">Customize your orders to really give out what you want, create unique orders and feel like your own fashion designer.
                                                        Step into the virtual dressing room and dress yourself up with your drawings, words, pictures and get your dream dress right at your door step
                                                    </p>
                                        </li>
                                        <li class="list-inline-item mr-3 col-md-3 mb-4 p-4">
                                                <i class="fas fa-lock fa-4x p-dark-text"></i> 
                                                <p class="text-uppercase font-weight-bold mt-2">Secure</p>
                                                <p class="mt-2">Customize your orders to really give out what you want, create unique orders and feel like your own fashion designer.
                                                        Step into the virtual dressing room and dress yourself up with your drawings, words, pictures and get your dream dress right at your door step
                                                    </p>
                                        </li>
                                        <li class="list-inline-item mr-3 col-md-3 mb-4 p-4">
                                                <i class="fas fa-box fa-4x p-dark-text"></i> 
                                                <p class="text-uppercase font-weight-bold mt-2">Delivery</p>
                                                <p class="mt-2">Customize your orders to really give out what you want, create unique orders and feel like your own fashion designer.
                                                        Step into the virtual dressing room and dress yourself up with your drawings, words, pictures and get your dream dress right at your door step
                                                    </p>
                                        </li>
                                        <li class="list-inline-item col-md-3">
                                                <i class="far fa-comments fa-4x p-dark-text"></i> 
                                                <p class="text-uppercase font-weight-bold mt-2">Chat</p>
                                                <p class="mt-2">Customize your orders to really give out what you want, create unique orders and feel like your own fashion designer.
                                                        Step into the virtual dressing room and dress yourself up with your drawings, words, pictures and get your dream dress right at your door step
                                                    </p>
                                        </li>
                                        <li class="list-inline-item col-md-3">
                                                <i class="fas fa-headset fa-4x p-dark-text"></i> 
                                                <p class="text-uppercase font-weight-bold mt-2">Support</p>
                                                <p class="mt-2">Customize your orders to really give out what you want, create unique orders and feel like your own fashion designer.
                                                        Step into the virtual dressing room and dress yourself up with your drawings, words, pictures and get your dream dress right at your door step
                                                    </p>
                                        </li>
                                    </ul>
                                </div>
                        </div>
                    </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-md-12 py-5 text-center container-fluid">
                            <h3 class="animated fadeInLeft text-uppercase">
                                    You Want......
                                </h3>
                                 <h2  class="animated fadeInRight text-uppercase">
                                     You Want It......
                                 </h2>
                                 <h1 class="animated fadeIntext-uppercase" >
                                     You Get It..........
                                 </h1>
                                 <p>
                                        <a class="animated fadeInUp btn btn-lg s-bg s-text waves-effect lato"><strong>Get Started</strong></a>
                                 </p>
                                
                    </div>
                </div>
            </div>
        
            
    </div>

    <div id="sell" class="parallax3 view" style="min-height: 500px;clip-path: polygon(0 2%, 100% 18%, 100% 100%, 0 100%);">
            <div class="flex-center mask rgba-stylish-strong white-text">
                    <ul class="carosel-margin col-md-12 list-unstyled list-inline mydefault-color">
                        <li class="my-5">
                                <h1 class="text-uppercase belleza white-text">Sell on DressUp</h1>
                        </li>
                        <li class="list-inline-item mx-3">
                                <i class="far fa-edit fa-4x mydefault-color-dark"></i> <p class="font-weight-bold">Customize</p>
                        </li>
                        <li class="list-inline-item mx-3">
                                <i class="fas fa-hand-pointer fa-4x p-dark-text"></i> <p class="font-weight-bold">Choose</p>
                        </li>
                        <li class="list-inline-item mx-3">
                                <i class="fas fa-clipboard-list fa-4x p-dark-text"></i> <p class="font-weight-bold">Schedule</p>
                        </li>
                        <li class="list-inline-item mx-3">
                                <i class="fas fa-lock fa-4x p-dark-text"></i> <p class="font-weight-bold">Secure</p>
                        </li>
                        <li class="list-inline-item mx-3">
                                <i class="fas fa-box fa-4x p-dark-text"></i> <p class="font-weight-bold">Delivery</p>
                        </li>
                        <li class="list-inline-item mx-3">
                                <i class="far fa-comments fa-4x p-dark-text"></i> <p class="font-weight-bold">Chat</p>
                        </li>
                        <li class="list-inline-item mx-3">
                                <i class="fas fa-headset fa-4x p-dark-text"></i> <p class="font-weight-bold">Support</p>
                        </li>
                    </ul>
                </div>
    </div>

    <div class="belleza">
        <div class=" mt-0">
                <div class="container">
                    <div class="shadow-big mt-4 bg-white">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h1 class="font-weight-bold quicksand text-uppercase pt-5">Anything you want!</h1>
                                <p class="p-5" style="text-align: justify">Buying on DressUp is a unique experience, here we give you the <q>Freedom of orders</q> as we like to call it, where you order <strong class="text-uppercase">what</strong> <strong class="font-weight-bold"> you want </strong>, <strong class="text-uppercase">how</strong> <strong class="font-weight-bold"> you want it </strong> and <strong class="text-uppercase">how</strong> <strong class="font-weight-bold"> you want to get it. </strong>
                                </p>
                            </div>
                        </div>
                        <div class="flex-center row">
                                <ul class="carosel-margin list-unstyled list-inline">
                                    <li class="list-inline-item mr-3 col-md-3 mb-4 p-4">
                                            <i class="far fa-edit fa-4x p-dark-text"></i>
                                            <p class="text-uppercase font-weight-bold mt-2">Customize</p>
                                            <p class="mt-2">Customize your orders to really give out what you want, create unique orders and feel like your own fashion designer.
                                                Step into the virtual dressing room and dress yourself up with your drawings, words, pictures and get your dream dress right at your door step
                                            </p>
                                    </li>
                                    <li class="list-inline-item mr-3 col-md-3 mb-4 p-4">
                                            <i class="fas fa-hand-pointer fa-4x p-dark-text"></i> 
                                            <p class="text-uppercase font-weight-bold mt-2">Choose</p>
                                            <p class="mt-2">Customize your orders to really give out what you want, create unique orders and feel like your own fashion designer.
                                                    Step into the virtual dressing room and dress yourself up with your drawings, words, pictures and get your dream dress right at your door step
                                                </p>
                                    </li>
                                    <li class="list-inline-item mr-3 col-md-3 mb-4 p-4">
                                            <i class="fas fa-clipboard-list fa-4x p-dark-text"></i> 
                                            <p class="text-uppercase font-weight-bold mt-2">Schedule</p>
                                            <p class="mt-2">Customize your orders to really give out what you want, create unique orders and feel like your own fashion designer.
                                                    Step into the virtual dressing room and dress yourself up with your drawings, words, pictures and get your dream dress right at your door step
                                                </p>
                                    </li>
                                    <li class="list-inline-item mr-3 col-md-3 mb-4 p-4">
                                            <i class="fas fa-lock fa-4x p-dark-text"></i> 
                                            <p class="text-uppercase font-weight-bold mt-2">Secure</p>
                                            <p class="mt-2">Customize your orders to really give out what you want, create unique orders and feel like your own fashion designer.
                                                    Step into the virtual dressing room and dress yourself up with your drawings, words, pictures and get your dream dress right at your door step
                                                </p>
                                    </li>
                                    <li class="list-inline-item mr-3 col-md-3 mb-4 p-4">
                                            <i class="fas fa-box fa-4x p-dark-text"></i> 
                                            <p class="text-uppercase font-weight-bold mt-2">Delivery</p>
                                            <p class="mt-2">Customize your orders to really give out what you want, create unique orders and feel like your own fashion designer.
                                                    Step into the virtual dressing room and dress yourself up with your drawings, words, pictures and get your dream dress right at your door step
                                                </p>
                                    </li>
                                    <li class="list-inline-item col-md-3">
                                            <i class="far fa-comments fa-4x p-dark-text"></i> 
                                            <p class="text-uppercase font-weight-bold mt-2">Chat</p>
                                            <p class="mt-2">Customize your orders to really give out what you want, create unique orders and feel like your own fashion designer.
                                                    Step into the virtual dressing room and dress yourself up with your drawings, words, pictures and get your dream dress right at your door step
                                                </p>
                                    </li>
                                    <li class="list-inline-item col-md-3">
                                            <i class="fas fa-headset fa-4x p-dark-text"></i> 
                                            <p class="text-uppercase font-weight-bold mt-2">Support</p>
                                            <p class="mt-2">Customize your orders to really give out what you want, create unique orders and feel like your own fashion designer.
                                                    Step into the virtual dressing room and dress yourself up with your drawings, words, pictures and get your dream dress right at your door step
                                                </p>
                                    </li>
                                </ul>
                            </div>
                    </div>
                </div>
        </div>
        <div class="container-fluid my-5">
            <div class="row">
                <div class="col-md-12 text-center animated  fadeInUp" >
                        <h3 class="text-uppercase">
                                You Want......
                            </h3>
                             <h2  class="text-uppercase">
                                 You Want It......
                             </h2>
                             <h1 class="text-uppercase" >
                                 You Get It..........
                             </h1>
                             <p>
                                    <a class="btn btn-lg s-bg s-text waves-effect lato"><strong>Get Started</strong></a>
                             </p>
                            
                </div>
            </div>
        </div>
    </div>

  <!-- Back to top -->
  <div class="fixed-action-btn smooth-scroll" style="bottom: 45px; right: 10px;">
      <a href="#home" class="btn-floating btn-large s-dark ">
          <i class="fas fa-angle-up s-text"></i>
      </a>
  </div>
  <!-- Back to top -->
  </main>
  <footer id="contact" class="page-footer belleza text-center text-md-left font-small p-dark p-text pt-5 mt-5">
      <!-- footer links -->
      <div class="container text-center text-md-left mb-5">
          <div class="row">
            <!-- first column -->
            <div class="col-md-5 col-sm-12 pb-3">
                <h5 class="text-uppercase font-weight-bold">
                    <strong>DressUP</strong>
                </h5>
                <hr style="width: 60%;" class="s-bg mb-4 mt-0 d-inline-block mx-auto">
                <p>A simple platform that allows people order custom tailored clothes with ease and also help out to those fashion designers that want to be heard out</p>
            </div>
            <!-- second column -->
            <div class="col-md-6 col-sm-12">
                    <h5 class="text-uppercase font-weight-bold">
                            <strong>Find Us</strong>
                        </h5>
                        <hr style="width: 60%;" class="s-bg mb-4 mt-0 d-inline-block mx-auto">
                <!--Google map-->
                <div id="map-container" class="z-depth-1-half map-container mb-5" style="height: 400px"></div>
            </div>
            <!-- third column -->
            <div class="col-md-12">
                <!-- Section: Contact v.3 -->
                <section class="contact-section">

                    <!-- Form with header -->
                    <div class="card">
                
                    <!-- Grid row -->
                    <div class="row">
                
                        <!-- Grid column -->
                        <div class="col-lg-8 col-sm-6">
                
                        <div class="card-body form">
                
                            <!-- Header -->
                            <h3 class="mt-4"><i class="fa fa-envelope pr-2 s-dark-text"></i>Send us a message:</h3>
                
                            <!-- Grid row -->
                            <div class="row">
                
                            <!-- Grid column -->
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                <input type="text" id="form-contact-name" class="form-control">
                                <label for="form-contact-name" class="">Your name</label>
                                </div>
                            </div>
                            <!-- Grid column -->
                
                            <!-- Grid column -->
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                <input type="text" id="form-contact-email" class="form-control">
                                <label for="form-contact-email" class="">Your email</label>
                                </div>
                            </div>
                            <!-- Grid column -->
                
                            </div>
                            <!-- Grid row -->
                
                            <!-- Grid row -->
                            <div class="row">
                
                            <!-- Grid column -->
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                <textarea type="text" id="form-contact-message" class="form-control md-textarea" rows="3"></textarea>
                                <label for="form-contact-message">Your message</label>
                                <a class="btn-floating btn-lg s-dark">
                                    <i class="fas fa-paper-plane p-bg-text"></i>
                                </a>
                                </div>
                            </div>
                            <!-- Grid column -->
                
                            </div>
                            <!-- Grid row -->
                
                        </div>
                
                        </div>
                        <!-- Grid column -->
                
                        <!-- Grid column -->
                        <div class="col-lg-4 col-sm-6">
                
                        <div class="card-body contact s-dark text-center h-100 s-text">
                
                            <h3 class="my-4 pb-2">Contact information</h3>
                            <ul class="text-lg-left list-unstyled ml-4">
                            <li>
                                <p><i class="fa fa-map-marker pr-2 s-bg-text"></i>New York, 94126, USA</p>
                            </li>
                            <li>
                                <p><i class="fa fa-phone pr-2 s-bg-text"></i><a class="s-text" href="tel:+ 01 234 567 89">+ 01 234 567 89</a></p>
                            </li>
                            <li>
                                <p><i class="fa fa-envelope pr-2 s-bg-text"></i><a class="s-text" href="mailto:contact@example.com">contact@example.com</a></p>
                            </li>
                            </ul>
                            <hr style="width: 100%;" class="s-bg mb-5 mt-0 d-inline-block mx-auto">
                            <ul class="list-inline text-center list-unstyled">
                            <li class="list-inline-item">
                                <a class="p-2 fa-lg tw-ic">
                                <i class="fab fa-twitter"></i>
                                </a>
                                <li class="list-inline-item">
                                    <a class="p-2 fa-lg fb-ic">
                                    <i class="fab fa-facebook"></i>
                                    </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="p-2 fa-lg li-ic">
                                <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="p-2 fa-lg ins-ic">
                                <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="yt-ic mr-3">
                                <i class="fab fa-lg fa-youtube"></i>
                                </a>
                            </li>
                            </ul>
                        </div>
                
                        </div>
                        <!-- Grid column -->
                
                    </div>
                    <!-- Grid row -->
                
                    </div>
                    <!-- Form with header -->
                
                </section>
                <!-- Section: Contact v.3 -->
            </div>
        </div>
      </div>
      <!-- footer links -->
      <!--Copyright -->
      <div class="footer-copyright py-3 text-center">
            © 2018 Copyright:
            <a href="https://mdbootstrap.com/bootstrap-tutorial/"> DressUp.com </a>
    </div>
<!--/.Copyright -->
    </footer>  
<!-- icons-->
<!-- <i class="fas fa-globe"></i> globe -->
<!-- <i class="fas fa-headset"></i> support -->
<!-- <i class="fas fa-hands-helping"></i> handshake -->
<!-- <i class="fas fa-lock"></i> lock -->
<!-- <i class="fas fa-clipboard-list"></i> schedule -->
<!-- <i class="far fa-comments"></i> chat -->
<!-- <i class="fas fa-chart-line"></i> boost -->
<!-- <i class="fas fa-pen-fancy"></i> edit style -->
<!-- <i class="fal fa-random"></i> returns -->
