<div class="d-flex justify-content-start">
  <h1 class="h1-responsive mr-auto">Users</h1>
  <input type="text" placeholder="search" title="search" class="form-control w-25">
</div>
<div class="container" style="max-height: 100vh; overflow-y: auto">
  <div class="row">
    <div class="col-md-8 offset-md-2 col-sm-12">
      <div class="d-flex flex-column card p-2 justify-content-between">
        <div class="d-flex flex-row flex-wrap">
          <div class="chip bg-transparent m-1">
            <img src="assets/images/person-flat.png" alt="alt-text"> <span class="font-weight-bold">Tailor name/User</span>
          </div>
          <span class="align-self-center font-weight-bold mr-1">ID: xxx-xxx-xxx-xxx</span>
          <span class="align-self-center font-weight-bold mr-1">Email: xxx-xxx@xxx-xxx.xxx</span>
          <span class="align-self-center font-italic">Location: xxxxx</span>
        </div>
        <div class="d-flex justify-content-end">
          <button class="ml-auto mt-auto btn-info">View</button>
        </div>
      </div>
    </div>
  </div>
</div>
