.gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6,1fr);

}
.search-view{
    width: 50% !important;
    margin-left:25% 
}
.top-border{
    border-top: thin solid;
}
.bottom-border{
    border-bottom: thin solid;
}
.pic{
    border: thick;
    border-left-style: solid;
    border-bottom-style: solid;
    border-left-color: #e3ffff;
    border-bottom-color: #e3ffff;
    width: 100%;
    padding: 0px !important;
}
.img-size{
    width: 80px
}
@media screen and (max-width:425px) and (min-width:425px){
    .pic{
        height: 190px ;
        width: 190px ;
    }  
}
@media screen and (max-width:375px) and (min-width:375px){
    .pic{
        height: 170px ;
        width: 170px ;
    }  
}
@media screen and (max-width:320px) and (min-width:320px){
    .pic{
        height: 144px ;
        width: 144px ;
    }
}
@media screen and (max-width:699px){
    .search-view{
        width: 100% !important;
        margin: 0 !important;
    }
}