<div id="main" class="container-fluid belleza">
  <div class="row">
    <div class="px-5 py-4 col-lg-9 row offset-lg-3 col-md-8 d-flex justify-content-start offset-md-3 col-sm-12">
      <button style="display: none" #modal data-toggle="modal" data-target="#tagsmodal">modal</button>
      
      <div *ngFor="let request of Notifications" class="card col-md-7 col-sm-12 mx-5 mb-4">
        <div>
          <p>
            You have recieved a request for <strong>{{request.Request.Title}}</strong>
          </p>
        </div>
        <div class="d-flex justify-content-between text-primary">
          <span class="nav-link font-italic">{{getDate(request.Request.CreatedAt)}}</span>
          <h6 class="m-0"><a (click)="view(request)" class="nav-link">View</a></h6>
        </div>
      </div> 
       
  </div>
</div>
</div>
<!--MODAL-->
<!--tags modal-->
<div class="modal fade" id="tagsmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="card">
          <div class="card-header text-center">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            <p class="quicksand mb-0" style="font-size: 2.1em">xyz's Bid</p>
          </div>
          <div class="card-body">
            <div style="width: 100%;max-height: 300px">
              <img class="card-img-top img-fluid" style="
              height: -webkit-fill-available;height: -moz-fill-available;max-height: 300px;" 
              src="assets\images\freestocks-org-187367-unsplash.jpg">
            </div>
            <div class="card-text my-2 flex-center">
              <p class="mb-0 mx-2">Duration: x days</p>
              <p class="mb-0 mx-2">Price: NGN xxx.xx</p>
            </div>
            <div class="d-flex justify-content-center">
                <button class="btn btn-success mx-3">Accept</button>
                <button class="btn btn-danger mx-3">Reject</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--MODAL-->

  <!-- <div style="background-color: #b0e6b294" class="px-2 mx-5 my-3 pt-2 card">
    <div style="font-size: larger" class="d-flex justify-content-start">
      <i class="fas fa-info-circle px-5"style="font-size: 3rem;"></i>
      <div class="flex-grow-1" style="align-self:center">
        <div class="d-flex mb-0 justify-content-between">
          <div class="w-100 text-center">
            <p class="mb-0">somebody did this to you</p>
          </div>
          <div>
            <ul class="list-unstyled mb-0 list-inline">
              <li>
                <div class="text-center flex-center pt-1">
                  <a class="card-link text-primary" (click)="modal.click()">View</a>
                  <a class="card-link ml-5 mr-1 text-danger">Cancel</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="d-flex justify-content-end mt-2">
          <p class="ml-4 font-italic mb-0">x days ago</p>
        </div>
      </div>
      </div>
    </div> -->