<!-- Posts view -->

<div class="container container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="card rgba-stylish-strong">
          
        </div>
      </div>
      <div class="col-md-3">
          <div class="card rgba-stylish-strong">
            
          </div>
        </div>

        <div class="col-md-3">
            <div class="card rgba-stylish-strong">
              
            </div>
        </div>

        <div class="col-md-3">
            <div class="card rgba-stylish-strong">
              
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-3">
          <div class="card rgba-stylish-strong">
            
          </div>
        </div>
        <div class="col-md-3">
            <div class="card rgba-stylish-strong">
              
            </div>
          </div>
  
          <div class="col-md-3">
              <div class="card rgba-stylish-strong">
                
              </div>
          </div>
  
          <div class="col-md-3">
              <div class="card rgba-stylish-strong">
                
              </div>
          </div>
  
      </div>

      <div class="row">
          <div class="col-md-3">
            <div class="card rgba-stylish-strong">
              
            </div>
          </div>
          <div class="col-md-3">
              <div class="card rgba-stylish-strong">
                
              </div>
            </div>
    
            <div class="col-md-3">
                <div class="card rgba-stylish-strong">
                  
                </div>
            </div>
    
            <div class="col-md-3">
                <div class="card rgba-stylish-strong">
                  
                </div>
            </div>
    
        </div>

    
  </div>
