<main class="container-fluid p-0">
  <router-outlet></router-outlet>
</main>
<!--For large screens-->
<footer class="d-flex bg-white out justify-content-center container-fluid" style="bottom: 0px; position: fixed; z-index: 1040;">
  <nav class="container-fluid">
    <div class="d-flex justify-content-center">
      <a  title="Settings" class="btn-flat menu-btn btn-lg mx-5 waves-effect"><i class="fas fa-cog fa-2x"></i></a>
      <a  title="Profile" class="btn-flat menu-btn mx-5 btn-lg waves-effect"><i class="fa fa-user fa-2x"></i></a>
      <a  title="New product" class="btn-flat menu-btn btn-lg mx-5 waves-effect"><i class="fas fa-plus fa-2x"></i></a>
      <a  title="Jobs" class="btn-flat mx-5 menu-btn btn-lg waves-effect"><i class="fas fa-money-bill fa-2x"></i></a>
      <a  title="Logout" class="btn-flat mx-5 menu-btn btn-lg waves-effect"> <i class="fas fa-sign-out-alt fa-2x"></i></a>
    </div>
  </nav>
</footer>
<!--For large screens-->

<!--For small screens-->
<footer class="d-flex bg-white in justify-content-center container-fluid p-0" style="bottom: 0px; position: fixed; z-index: 1040;">
  <nav class="container-fluid p-0">
    <div class="d-flex  justify-content-between p-0">
      <a  title="Settings" class="btn-flat btn-sm  mx-3 waves-effect"><i class="fas fa-cog"></i></a>
      <a  title="Profile" class="btn-flat mx-3 btn-sm waves-effect"><i class="fa  fa-user"></i></a>
      <a  title="New product" class="btn-flat btn-sm mx-3 waves-effect"><i class="fas fa-plus fa-2x"></i></a>
      <a  title="Jobs" class="btn-flat mx-3 btn-sm waves-effect"><i class="fas  fa-money-bill"></i></a>
      <a  title="Logout" class="btn-flat mx-3 btn-sm waves-effect"> <i class="fas fa-sign-out-alt"></i></a>
    </div>
  </nav>
</footer>
<!--For small screens-->
