<main class="container-fluid p-0">
  <router-outlet></router-outlet>
</main>

<!--For small screens-->
<footer class="d-flex bg-white in justify-content-center container-fluid p-0" style="bottom: 0px; position: fixed; z-index: 1040;">
  <nav class="container">
    <div class="d-flex  justify-content-center p-0">
      <a  title="notification" class="menu-space btn-flat btn-sm  mx-md-5 mx-sm-0 waves-effect"><i class="fas fa-cog fa-2x"></i></a>
      <a  title="order" class="menu-space btn-flat mx-md-5 mx-sm-0 btn-sm waves-effect"><i class="fa  fa-user fa-2x"></i></a>
      <a (click)="gotoBid()" title="New bid" class="menu-space btn-flat btn-sm mx-md-5 mx-sm-0 waves-effect"><i class="fas fa-plus fa-3x"></i></a>
      <a (click)="gotoSearch()" title="search" class="menu-space btn-flat mx-md-5 mx-sm-0 btn-sm waves-effect"><i class="fas  fa-money-bill fa-2x"></i></a>
      <a (click)="logout()" title="Logout" class="menu-space btn-flat mx-md-5 mx-sm-0 btn-sm waves-effect"> <i class="fas fa-sign-out-alt fa-2x"></i></a>
    </div>
  </nav>
</footer>
<!--For small screens-->

