<header class="mb-3">
  <nav class="bg-white">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="d-flex justify-content-start">
          <a *ngIf="getCurrentNavigation != 'Home'" class="mx-3 waves-effect d-flex flex-column mt-auto mb-auto flex-center">
            <i class="fas fa-long-arrow-alt-left fa-2x"></i>
          </a>
          <a class="navbar-text ml-2 mr-auto permanentmarker font-weight-bold black-text" style="font-size: x-large">DressUp</a>
        </div>
        <div class="text-center d-flex justify-content-center mb-0 ml-auto mr-5">
          <h2 class="my-2">{{getCurrentNavigation}}</h2>
        </div>
        <div class="form-inline ml-auto">
          <div class="md-form my-0">
            <a class="font-weight-bold mx-3 waves-effect lato" data-placement="bottom" data-toggle="tooltip" title="Notifications">
              <i class="far fa-bell icon"></i>
            </a>
            <a class="mx-3 font-weight-bold waves-effect lato" data-placement="bottom" data-toggle="tooltip" title="Orders">
              <i class="fas fa-envelope black-text icon"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
