.signup{
  border: 3px solid #9fa8da;
  color: black;
    background-color: white;
}
.signup:hover{
    background-color: #9fa8da;
    border-color: #b0e0e6;
    color: white;
}
.login{
    border-style: solid;
    border-width: 3px;
    border-color: #9fa8da;
}
.login:hover{
    border-color: #b0e0e6;
    color: white;
}
/* Style the form */
#regForm {
    background-color: #ffffff;
  }
  
  /* Style the input fields */
  input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway, fantasy;
    border: 1px solid #aaaaaa;
  }
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
  .selected{
    color:blue;
  }
  .valid{
    outline-color: #4CAF50;
    outline-style: solid;
  }
  /* Hide all steps by default: */
  /* .tab {
    display: none;
  } */
  .r{
      display: block;
  }
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 25px;
    width: 25px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none; 
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
    font-size: medium;
    font-weight: bold;
    color: white;
  }
  
  /* Mark the active step: */
  .step.active {
    opacity: 1;
  }

  /* Mark the step for valid entry*/
  .step.good{
    background-color: green;
  }

  /* Mark step for invalid entry*/
  .step.error{
    background-color: red;
  }

  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #4CAF50;
  }

  .wow{
      visibility: hidden;
  }
