.signup{
<<<<<<< HEAD
  border: 3px solid #9fa8da;
  color: black;
=======
    border-style: solid;
    border-width: 3px;
    border-color: #9fa8da;
    color: black;
>>>>>>> d975a58df8a4f951badebef0d87f2098da57b07e
    background-color: white;
}
.signup:hover{
    background-color: #9fa8da;
    border-color: #b0e0e6;
    color: white;
}
<<<<<<< HEAD

=======
>>>>>>> d975a58df8a4f951badebef0d87f2098da57b07e
.login{
    border-style: solid;
    border-width: 3px;
    border-color: #9fa8da;
}
.login:hover{
    border-color: #b0e0e6;
    color: white;
}
/* Style the form */
#regForm {
    background-color: #ffffff;
<<<<<<< HEAD
=======
    margin: 100px auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
>>>>>>> d975a58df8a4f951badebef0d87f2098da57b07e
  }
  
  /* Style the input fields */
  input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
<<<<<<< HEAD
    font-family: Raleway, fantasy;
=======
    font-family: Raleway;
>>>>>>> d975a58df8a4f951badebef0d87f2098da57b07e
    border: 1px solid #aaaaaa;
  }
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
<<<<<<< HEAD
  .selected{
    color:blue;
  }
  .valid{
    outline-color: #4CAF50;
    outline-style: solid;
  }
=======
  
>>>>>>> d975a58df8a4f951badebef0d87f2098da57b07e
  /* Hide all steps by default: */
  /* .tab {
    display: none;
  } */
  .r{
      display: block;
  }
  /* Make circles that indicate the steps of the form: */
  .step {
<<<<<<< HEAD
    height: 25px;
    width: 25px;
=======
    height: 15px;
    width: 15px;
>>>>>>> d975a58df8a4f951badebef0d87f2098da57b07e
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none; 
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
<<<<<<< HEAD
    font-size: medium;
    font-weight: bold;
    color: white;
=======
>>>>>>> d975a58df8a4f951badebef0d87f2098da57b07e
  }
  
  /* Mark the active step: */
  .step.active {
    opacity: 1;
  }
<<<<<<< HEAD

  /* Mark the step for valid entry*/
  .step.good{
    background-color: green;
  }

  /* Mark step for invalid entry*/
  .step.error{
    background-color: red;
  }

=======
  
>>>>>>> d975a58df8a4f951badebef0d87f2098da57b07e
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #4CAF50;
  }

  .wow{
      visibility: hidden;
<<<<<<< HEAD
  }
=======
  }
>>>>>>> d975a58df8a4f951badebef0d87f2098da57b07e
