<nav class="bg-white">
  <div class="container-fluid">
    <div class="d-flex row justify-content-between">
      <div class="d-flex justify-content-between">
        <a class="mx-3 waves-effect d-flex flex-column mt-auto mb-auto flex-center">
          <i class="fas fa-long-arrow-alt-left fa-2x"></i></a>
          <!-- todo: make ml-0 be ml-5 on home pages alone with ngclass -->
          <a class="navbar-text navtext-margin-in ml-0 mr-auto permanentmarker font-weight-bold black-text" style="font-size: x-large">DressUp</a>
      </div>
      <div class="text-center out my-margin-right d-flex justify-content-center mb-0 ml-auto">
        <h2 class="my-2">Home</h2>
      </div>
      <div class="ml-auto d-flex flex-column justify-content-center">
        <div class="md-form my-0">
          <a class="font-weight-bold d-flex flex-column mt-auto mb-auto flex-center mx-3 waves-effect lato" data-placement="bottom" data-toggle="tooltip" title="Help">
            <i class="fas fa-cog fa-2x"></i>
          </a>
        </div>
    </div>
  </div>
  <!-- for small screens -->
  <div class="text-center in d-flex justify-content-center my-0">
    <h2 class="my-2">Home</h2>
  </div>
  </div>
</nav>
<app-user-home></app-user-home>