.error{
    outline: solid;
    outline-color: red;
  outline-width: thin;
}
.signup{
  border: 3px solid #9fa8da;
  color: black;
  background-color: white;
}
.signup:hover{
  background-color: #9fa8da;
  border-color: #b0e0e6;
  color: white !important;
}

.login{
  border-style: solid;
  border-width: 3px;
  border-color: #9fa8da;
}
.login:hover{
  border-color: #b0e0e6;
  color: white;
}

