<!-- Container -->
<div class="container">

  <!-- Collapsible buttons START -->

  <div class="d-flex flex-column justify-content-around text-left">
    <!-- Change Theme section START -->
      <!-- Collapse Toggle START-->
    <button class="btn btn-lg" type="button" data-toggle="collapse" data-target="#change-theme" aria-expanded="false" aria-controls="change-theme">
      Themes
    </button>
      <!-- Collapse Toggle END -->
      <!-- Collapse Content START -->
      <div class="collapse mb-4 mt-4" id = "change-theme">
          <div class="row d-flex flex-md-row flex-sm-column">
            <!-- <h3>Pick a theme</h3> -->
            <div class="col-5">
               
              <ul class="list-group text-primary">
                <li class="list-group-item waves-effect d-flex justify-content-between" (click)="changeTheme(0)">
                    Default Theme <i class="fas fa-check text-success" *ngIf="_settingsService.getTheme.name == 'Default Theme'"></i>
                </li>
        
                <li class="list-group-item waves-effect d-flex justify-content-between" (click)="changeTheme(1)">
                    Savanna Theme <i class="fas fa-check text-success" *ngIf="_settingsService.getTheme.name == 'Savanna Theme'"></i>
                </li>
        
                <li class="list-group-item waves-effect d-flex justify-content-between" (click)="changeTheme(2)">
                    Clay Theme <i class="fas fa-check text-success" *ngIf="_settingsService.getTheme.name == 'Clay Theme'"></i>
                </li>
        
                <li class="list-group-item waves-effect d-flex justify-content-between" (click)="changeTheme(3)">
                    Dark Theme <i class="fas fa-check text-success" *ngIf="_settingsService.getTheme.name == 'Dark Theme'"></i>
                </li>
        
                </ul>

              <a class="nav-link text-center shadow-sm text-primary mt-5">Set as theme</a>
            </div>

              <!-- Preview Theme -->
              <div class="col-7">
                <div class="card">

                  <img class="card-img" src={{_settingsService.getTheme.src}}>
    
                  <div class="text-muted card-footer">
                      {{_settingsService.getTheme.name}}
                  </div>
    
                </div>
              </div> 
          </div>
      </div>
  
      <!-- Collapse Content END -->

    <!-- Change Theme section END -->

    <!-- Change Profile Image Section START -->

      <!-- Toggle Button START -->

    <button class="btn btn-lg" type="button" data-toggle="collapse" data-target="#change-profileSettings " aria-expanded="false" aria-controls="change-profileSettings">
      Display Picture
    </button>

      <!-- Toggle Button END -->

    <!-- Collapse Content START -->
    <div class="collapse mb-4 mt-4" id="change-profileSettings">

      <div class="row">
        <div class="col-12 text-center d-flex flex-column align-items-center">
            <h4 class="pt-3">Preview</h4>

            <div class="card" style="width: 300px; height: 300px">

              <img class="card-img" *ngIf="!localDisplayUrl" #image src="../../../assets/images/tailor-profile-dp.jpg">
              <img class="card-img w-100  h-100" *ngIf="localDisplayUrl" [src]="localDisplayUrl">
  
            </div>

          <div class="mt-2">
            <input type="file"  style="display: none" (change)="previewDisplay($event)" #file accept="image/png">
            <button class="btn btn-info mx-3" (click)="file.click()">Browse</button>
            <button class="btn btn-success mx-3" [class.disabled]="!localDisplayUrl">Set as Display Pic</button>
            <button class="btn mx-3" (click)="removeDisplay()">Reset</button>
          </div>

          </div>
      </div>

    </div>
    <!-- Collapse Content END -->

    <!-- Change Header Image Section START  -->
    
    <!-- Toggle Button START -->
    <button class="btn btn-lg" type="button" data-toggle="collapse" data-target="#change-headerImage" aria-expanded="false" aria-controls="change-headerImage">
      Header Image
    </button>
    <!-- Toggle Button END -->

    <!-- Collapse Content START -->

    <div class="collapse mb-4 mt-4" id="change-headerImage">

        <div class="row">
          <div class="col-12 text-center d-flex flex-column align-items-center">
            <h4 class="pt-3">Preview Header Image</h4>
  
            <div class="card" style="width: 60%" >
  
                <img class="card-img" #headerimage *ngIf="!localHeaderUrl" src="../../../assets/images/header-bg-2.jpeg">
              <img class="card-img w-100  h-100" *ngIf="localHeaderUrl" [src]="localHeaderUrl">

            </div>

            <div class="mt-2">
              <input type="file"  style="display: none" (change)="previewHeader($event)" #file2  accept="image/png,image/jpeg">
              <button class="btn btn-info mx-3" (click)="file2.click()">Browse</button>
              <button class="btn btn-success mx-3" [class.disabled]="!localHeaderUrl">Set as Display Pic</button>
              <button class="btn mx-3" (click)="removeHeader()">Reset</button>
            </div>
  
            </div>
          </div>
  
      </div>

    <!-- Collapse Content END -->

    <!-- Change Header Image Section END -->

    <!--Tags start-->

    <!-- Toggle button START -->
    <button class="btn btn-lg" type="button" data-toggle="collapse" data-target="#tags" aria-expanded="false" aria-controls="tags">
     Tags
    </button>
    <!-- Toggle button END -->

    <!-- Collapse Content START -->

    <div class="collapse mb-4 mt-4" id="tags">

      <div class="row d-flex flex-md-row flex-sm-column">

        <div class="col-5">
          <div class="card">
            <p class="font-small font-italic text-warning">Enter tags to further show what you do</p>
           <div class="form-inline m-3">
             <input type="text" title="enter a tag" #tag_input placeholder="enter a tag.." class="form-control">
             <button class="btn btn-dark btn-sm" (click)="addTags(tag_input.value);tag_input.value = ''">Add</button>
           </div>
          </div>
        </div>

        <div class="col-7">
          <div class="d-flex justify-content-center">

            <div *ngFor="let tag of localTags" class="chip mx-3 darken-4">
              <a>{{tag}}</a>
            </div>
          </div>
          <div class="d-flex justify-content-end mt-5">
            <a class="nav-link text-center shadow-sm text-primary" (click)="updateTags()">Save</a>
          </div>
        </div>
      </div>
      <!-- Collapse Content END -->

    </div>

    <!--Tags end-->

    <!-- Select Feedback Section START --> 
    <!--TODO FEEDBACKS-->
      <!-- Toggle button START -->
      <button class="btn btn-lg" type="button" data-toggle="collapse" data-target="#select-feedback" aria-expanded="false" aria-controls="change-feedback">
       Feedback
      </button>
      <!-- Toggle button END -->

      <!-- Collapse Content START -->

      <div class="collapse mb-4 mt-4" id="select-feedback">

        <h4>Select Feedback</h4>
        <p class="text-muted">Selected ones will be displayed on your profile. 
        A maximum of three can be selected</p>

        <!-- Sample feedback START -->

        <div class="row d-flex flex-md-row flex-sm-column">

          <div class="col-12 row" style="height: 200px;overflow-y: auto">
            <!-- 1 -->
            <div class="card col-sm-12 col-md-5 list-group-item mx-md-4 my-sm-2">
                <p class="text-center d-inline">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat.</p>
              <footer class="blockquote-footer">Kunle Lawal<cite title="Remark from">Tue, 6<sup>th</sup></cite></footer>
                  <p class="">*&nbsp;*&nbsp;*&nbsp;*&nbsp;*&nbsp;</p>
              <div class="d-flex justify-content-end">
                <a class="card-link text-success">select</a>
                <a class="card-link text-danger">remove</a>
              </div>
              </div>

              <!-- 2 -->
            <div class="card col-sm-12 col-md-5 list-group-item mx-md-4 my-sm-2">
                <p class="text-center d-inline">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat.
                </p>
              <footer class="blockquote-footer">Kunle Lawal<cite title="Remark from">Tue, 6<sup>th</sup></cite></footer>
                  <p class="">*&nbsp;*&nbsp;*&nbsp;*&nbsp;*&nbsp;</p>
              <div class="d-flex justify-content-end">
                <a class="card-link text-success">select</a>
                <a class="card-link text-danger">remove</a>
              </div>
              </div>

            <!--3-->
            <div class="card col-sm-12 col-md-5 list-group-item mx-md-4 my-sm-2">
              <p class="text-center d-inline">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat
                fugiat.</p>
              <footer class="blockquote-footer">Kunle Lawal<cite title="Remark from">Tue, 6<sup>th</sup></cite></footer>
              <p class="">*&nbsp;*&nbsp;*&nbsp;*&nbsp;*&nbsp;</p>
              <div class="d-flex justify-content-end">
                <a class="card-link text-success">select</a>
                <a class="card-link text-danger">remove</a>
              </div>
            </div>

            <!--4-->
            <div class="card col-sm-12 col-md-5 list-group-item mx-md-4 my-sm-2">
              <p class="text-center d-inline">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat
                fugiat.</p>
              <footer class="blockquote-footer">Kunle Lawal<cite title="Remark from">Tue, 6<sup>th</sup></cite></footer>
              <p class="">*&nbsp;*&nbsp;*&nbsp;*&nbsp;*&nbsp;</p>
              <div class="d-flex justify-content-end">
                <a class="card-link text-success">select</a>
                <a class="card-link text-danger">remove</a>
              </div>
            </div>
              <div class="my-3">
                <span class="nav-link text-primary">more...</span>
              </div>
            </div>
        <!-- Sample feedback END -->

        <!-- Action buttons -->

          <div class="row w-100">
            <div class="col-12 d-flex justify-content-md-end justify-content-sm-middle">

              <button class="btn btn-info btn-lg">
                Done
              </button>

            </div>
          </div>
        
      </div>

      <!-- Collapse Content END -->

  </div>

  <!-- Collapsible buttons END -->

</div>
</div>
