/* You can add global styles to this file, and also import other style files */
body{
    overflow-x: hidden;
    font-family: 'Belleza', sans-serif !important;
}
/* THEME */
.p-bg{
    background-color:  #b0e0e6 !important;
}
.p-bg-text{
color: #b0e0e6 !important;
}
.p-light{
    background-color: #e3ffff !important;
}
.p-light-1{
    background-color: rgba(227, 255, 255, 0.4) !important;
    /* background-color: brown; */
}
.p-light-text{
    color: #e3ffff !important;
}
.p-dark{
    background-color: #7faeb4 !important;
}
.p-dark-text{
    color: #7faeb4 !important;
}

.s-bg{
    background-color:  #9fa8da !important;
}
.s-bg-text{
    color:  #9fa8da !important;
}
.s-light{
    background-color: #d1d9ff !important;
}
.s-light-text{
    color: #d1d9ff !important;
}
.s-dark{
    background-color: #6f79a8 !important;
}
.s-dark-text{
    color: #6f79a8 !important;
}

.surface{
    background-color: #6f79a8 !important;
}

.background{
    background-color: #ffffff !important;
}


/* TEXT */
.p-text{
    color: #000000 !important;
}
.s-text{
    color: #000000 !important;
}
.surface-text{
    color: #000000 !important;
}
.background-text{
    color: #000000 !important;
}


/* FONTS */
.raleway{
    font-family: 'Raleway', sans-serif !important;
}
.lato{
    font-family: 'Lato', sans-serif !important;
}
.quicksand{
    font-family: 'Quicksand', sans-serif !important;
}
.permanentmarker{
    font-family: 'Permanent Marker', cursive !important;
}
.belleza{
    font-family: 'Belleza', sans-serif !important;
}

/* THEMES GAN GAN */

/* 
Default Theme
...........................

Dark: #7faeb4;
Light: #b0e0e6;

*/

.default-theme  nav li {
    border-bottom: 3px solid #7faeb4!important;
    color: #7faeb4 !important;
}
.default-theme  nav li:hover {
    border-bottom: 3px solid yellow!important;
}
.default-theme  nav li.active {
    border-bottom: 3px solid yellow !important;
}
.default-theme  div.chip:hover {
    background-color: #b0e0e6!important;
}
.default-theme  div.main-header {
    background-color: #7faeb4 !important;
}
.default-theme  .rgba-stylish-strong {
    background-color: #7faeb4 !important;
}
.default-theme #grid-container {
    background-color: #b0e0e6;
}

/*
 Savanna Theme
 ............

Light: #ecc57c
Dark: #e5952e
 
*/
.savanna-theme  nav li {
    border-bottom: 3px solid #e5952e!important;
    color: #e5952e !important;
}
.savanna-theme  nav li:hover {
    border-bottom: 3px solid yellow!important;
}
.savanna-theme  nav li.active {
    border-bottom: 3px solid yellow !important;
}
.savanna-theme  div.chip:hover {
    background-color: #ecc57c!important;
}
.savanna-theme  div.main-header {
    background-color: #e5952e !important;
}
.savanna-theme  .rgba-stylish-strong {
    background-color: #e5952e !important;
}
.savanna-theme #grid-container {
    background-color: #ecc57c;
}

/* 
Clay Theme
..............

Dark: #8d3131;
Light: #ab6865;

*/

.clay-theme  nav li {
    border-bottom: 3px solid #8d3131!important;
    color: #8d3131 !important;
}
.clay-theme  nav li:hover {
    border-bottom: 3px solid yellow!important;
}
.clay-theme  nav li.active {
    border-bottom: 3px solid yellow !important;
}
.clay-theme  div.chip:hover {
    background-color: #ab6865!important;
}
.clay-theme  div.main-header {
    background-color: #8d3131 !important;
}
.clay-theme  .rgba-stylish-strong {
    background-color: #8d3131 !important;
}
.clay-theme #grid-container {
    background-color: #ab6865;
}


/*
 Dark Theme
..............

Dark: #231f20;
Light: #4d4d4d;

*/

.dark-theme  nav li {
    border-bottom: 3px solid #231f20!important;
    color: #231f20 !important;
}
.dark-theme  nav li:hover {
    border-bottom: 3px solid yellow!important;
}
.dark-theme  nav li.active {
    border-bottom: 3px solid yellow !important;
}
.dark-theme  div.chip:hover {
    background-color: #4d4d4d!important;
}
.dark-theme  div.main-header {
    background-color: #231f20 !important;
}
.dark-theme  .rgba-stylish-strong {
    background-color: #231f20 !important;
}
.dark-theme #grid-container {
    background-color: #4d4d4d;
}
