<div class="container belleza px-md-3">
  <div id="contain-all">
    <div class="row flex-center mx-md-5 mb-2" *ngIf="Bids.length > 0; else elseblock">
      <!-- Card Wider -->
      <!-- Card -->
      <div *ngFor="let bid of Bids" class="card my-3 mx-0 col-md-6 col-sm-12 card-cascade wider">

        <div class="view view-cascade overlay">
          <!--Image-->
          <!--carousel wrapper-->
          <div id="mycarousel"  class="carousel out slide " data-ride="carousel">
            <!-- Indicators -->
            <!-- Indicators -->
            <!-- Slide wrapper -->
            <div class="carousel-inner" style="height: -webkit-fill-available;" role="listbox" >
              <!--slides-->
              <div *ngFor="let image of bid.Picture; first as isFirst" class="carousel-item" [class.active]="isFirst" style="height: inherit;">
                <img class="card-img-top" style="height: inherit;" [src]="image" alt="Card image cap">
              </div>
            </div>
          </div>
          <!--Image-->

          <!--visible on hover-->
          <a>
            <div class="mask rgba-stylish-slight">
              <!--Order description-->
              <div class="d-block " style="position: absolute;bottom: 0px">

                <div class="px-2" style="background-color: rgba(30,40,20,0.5)">
                  <p class="card-text white-text"> {{bid.Description}} </p>
                </div>
              </div>
            </div>
            <!--Order description-->
          </a>

        </div>

        <!-- Card content -->
        <div class="card-body pb-2 card-body-cascade text-center">

          <!-- Title -->
          <h4 class="card-title mb-2"><strong>{{bid.Title}}</strong></h4>
          <!-- Subtitle/tags -->
          <span *ngFor="let tag of bid.Tags" class="mx-2 badge badge-pill p-bg p-text">{{tag}}</span>
          <hr class="my-1">
          <!--Bidding constraints-->
          <div class="text-center d-flex justify-content-between out waves-effect">
            <div class="mx-md-2">
              <i class="far pt-1 fa-clock "></i><p class="m-0 font-small  pt-1">Fitness: {{bid.Conditions.Fitness}}</p>
            </div>
            <div class="mx-md-2">
              <i class="far pt-1 fa-clock "></i><p class="m-0 font-small pt-1">Schedule: {{bid.Schedule.Duration}} days</p>
            </div>
            <div class="mx-md-2">
              <i class="far pt-1 fa-clock "></i><p class="m-0 font-small px-1 pt-1">Delivery: {{bid.Conditions.Delivery}}</p>
            </div>
            <hr class="my-1">
          </div>
          <!--Bidding constraints-->

          <!--Button-->
          <div class="d-flex justify-content-end">
            <a routerLink="/tailor/job/view/{{bid._id}}" class="black-text waves-effect"><span class="text-uppercase px-2">View</span><i class="fas fa-ellipsis-h"></i></a>
          </div>
          <!--Button-->

        </div>

        <!-- Card -->
      </div>
      <!-- Card Wider -->
      
    </div>
    <ng-template #elseblock>
      <div style="height: 50vh" class="flex-center">
        <div>
          <h1 class="h1-responsive text-muted font-weight-bold font-italic">Failed to get bids, refresh browser</h1>
        </div>
      </div>
    </ng-template>
    <div class="p-5 text-center">
        <a class="nav-link text-primary" id="more" (click)="morePosts()">More...</a>
      </div>
  </div>
</div>
