<div class="container mb-5 belleza px-md-3">
  <div class="row flex-center mx-md-5 mb-2">
    <!-- Card Wider -->
    <!-- Card -->
    <div class="card my-3 mx-0 col-md-6 col-sm-12 card-cascade wider">

      <div class="view view-cascade overlay">
        <!--Image-->
        <img class="card-img-top" src="assets/images/clem-onojeghuo-197847-unsplash.jpg" alt="Card image cap">
        <!--Image-->
      </div>
      <!-- Card content -->
      <div class="card-body pb-2 card-body-cascade text-center">
        <!-- Title -->
        <h4 class="card-title mb-2"><strong>Blue chiffon blouse</strong></h4>
        <!-- made for who? tags -->
        <span class="mx-2 badge badge-pill p-bg p-text">girls</span>
        <span class="mx-2 badge badge-pill s-bg s-text">women</span>
        <hr class="my-1">
        <!--descriptions-->
        <div class="text-center d-flex justify-content-between out waves-effect">
          <div class="mx-md-2">
            random description about the product
          </div>
          <hr class="my-1">
        </div>
        <!--descriptions-->
        <!--Button-->
        <div class="d-flex justify-content-end">
          <a class="black-text waves-effect"><span class="text-uppercase px-2">View</span></a>
        </div>
        <!--Button-->
      </div>
      <!-- Card -->
    </div>
    <!-- Card Wider -->

    <!-- Card Wider -->
    <!-- Card -->
    <div class="card my-3 mx-0 col-md-6 col-sm-12 card-cascade wider">

      <div class="view view-cascade overlay">
        <!--Image-->
        <img class="card-img-top" src="assets/images/clem-onojeghuo-197847-unsplash.jpg" alt="Card image cap">
        <!--Image-->
      </div>
      <!-- Card content -->
      <div class="card-body pb-2 card-body-cascade text-center">
        <!-- Title -->
        <h4 class="card-title mb-2"><strong>Blue chiffon blouse</strong></h4>
        <!-- made for who? tags -->
        <span class="mx-2 badge badge-pill p-bg p-text">girls</span>
        <span class="mx-2 badge badge-pill s-bg s-text">women</span>
        <hr class="my-1">
        <!--descriptions-->
        <div class="text-center d-flex justify-content-between out waves-effect">
          <div class="mx-md-2">
            random description about the product
          </div>
          <hr class="my-1">
        </div>
        <!--descriptions-->
        <!--Button-->
        <div class="d-flex justify-content-end">
          <a class="black-text waves-effect"><span class="text-uppercase px-2">View</span></a>
        </div>
        <!--Button-->
      </div>
      <!-- Card -->
    </div>
    <!-- Card Wider -->

    <!-- Card Wider -->
    <!-- Card -->
    <div class="card my-3 mx-0 col-md-6 col-sm-12 card-cascade wider">

      <div class="view view-cascade overlay">
        <!--Image-->
        <img class="card-img-top" src="assets/images/clem-onojeghuo-197847-unsplash.jpg" alt="Card image cap">
        <!--Image-->
      </div>
      <!-- Card content -->
      <div class="card-body pb-2 card-body-cascade text-center">
        <!-- Title -->
        <h4 class="card-title mb-2"><strong>Blue chiffon blouse</strong></h4>
        <!-- made for who? tags -->
        <span class="mx-2 badge badge-pill p-bg p-text">girls</span>
        <span class="mx-2 badge badge-pill s-bg s-text">women</span>
        <hr class="my-1">
        <!--descriptions-->
        <div class="text-center d-flex justify-content-between out waves-effect">
          <div class="mx-md-2">
            random description about the product
          </div>
          <hr class="my-1">
        </div>
        <!--descriptions-->
        <!--Button-->
        <div class="d-flex justify-content-end">
          <a class="black-text waves-effect"><span class="text-uppercase px-2">View</span></a>
        </div>
        <!--Button-->
      </div>
      <!-- Card -->
    </div>
    <!-- Card Wider -->

    <!-- Card Wider -->
    <!-- Card -->
    <div class="card my-3 mx-0 col-md-6 col-sm-12 card-cascade wider">

      <div class="view view-cascade overlay">
        <!--Image-->
        <img class="card-img-top" src="assets/images/clem-onojeghuo-197847-unsplash.jpg" alt="Card image cap">
        <!--Image-->
      </div>
      <!-- Card content -->
      <div class="card-body pb-2 card-body-cascade text-center">
        <!-- Title -->
        <h4 class="card-title mb-2"><strong>Blue chiffon blouse</strong></h4>
        <!-- made for who? tags -->
        <span class="mx-2 badge badge-pill p-bg p-text">girls</span>
        <span class="mx-2 badge badge-pill s-bg s-text">women</span>
        <hr class="my-1">
        <!--descriptions-->
        <div class="text-center d-flex justify-content-between out waves-effect">
          <div class="mx-md-2">
            random description about the product
          </div>
          <hr class="my-1">
        </div>
        <!--descriptions-->
        <!--Button-->
        <div class="d-flex justify-content-end">
          <a class="black-text waves-effect"><span class="text-uppercase px-2">View</span></a>
        </div>
        <!--Button-->
      </div>
      <!-- Card -->
    </div>
    <!-- Card Wider -->


  </div>
</div>
