<!-- Settings page -->

<!-- Two columns  -->
<div class="container-fluid m-0" id = "main-view">
  <div class="row">

    <!-- Side Navigation START-->

    <div class=" flex-column  d-flex  justify-content-between" id="side-nav">
      <a href="javascript:void(0)" class="closebtn" (click)="closeNav()" rel="noopener noreferrer">&times;</a>
      <!-- Links -->
      <ul class="nav flex-md-column flex-sm-row mt-5">
        <li class="nav-item">
          <a class="nav-link link" routerLink="/tailor/settings/customize" routerLinkActive="active">Customize</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link" routerLink="/tailor/settings/account" routerLinkActive="active">
            Account Settings
          </a>
        </li>
      <li class="nav-link flex-center link">
        <!-- Back button -->
        <button   class="nav-item btn btn-block mb-3 px-0">
          Back
        </button>
      </li>
      </ul>

  </div>

  <!-- Side Navigation END -->

  <!-- Settings view START -->

  <div class="col-lg-9 offset-lg-3 col-md-12" id="settings-view">
    <div class="p-3 d-flex justify-content-start ml-3">
      <h3 class="open"> <a (click)="openNav()"><<--</a> </h3>
      <h3>Settings</h3>
    </div>
      <router-outlet></router-outlet>                                       
  </div>

  <!-- Settings view END -->

</div>
</div>
